@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .unset {
    all: unset;
  }
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white;
}

.scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #adadad;
}

.scroll::-webkit-scrollbar-thumb:window-inactive {
  background: #adadad;
}
